<!doctype html>
<html>
    <head>
        <title>{{ title }} - X-Ray Annotation</title>
        
    </head>
    <body background-image: url("splash.png"); >
        <h1 align="center"> Welcome to Data Augmentation with X-Ray Annotations!</h1>
        <h2 align="center">Thank You for contributing to better clinical diagnosis with metadata enrichment.</h2>

        <button type="button">Single Image Search</button>
        <button type="button">Multi Image Search</button>

        <!-- <img src="splash.png" width="300" height="100"> -->
    </body>
</html>